<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieCollection Management System</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">

    </div>
    <div class="col-3"></div>
</div>
    <h2>Movie Detail</h2>

    <form  th:object="${movie}">

        <input type="text" th:field="*{explanation}"  class="form-control mb-4 col-4">
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{language}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{media}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{releaseYear}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{type}" class="form-control mb-4 col-4">
        <a href="/" class="btn btn-primary col-2"> Home Page</a>
    </form>




</div>
</body>
</html>