<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieCollection Management System</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Actor Management System</h1>
    <hr>
    <h2>Update Actor</h2>

    <form action="#" th:action="@{/saveActor}" th:object="${actor}" ,method="put">

        <input type="text" th:field="*{name}"  class="form-control mb-4 col-4">
        <input type="text" th:field="*{surname}"  class="form-control mb-4 col-4">
        <input type="text" th:field="*{role}"  class="form-control mb-4 col-4">
        <input type="number" th:field="*{movie.id}"  class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Update Actor</button>
        <a href="/" class="btn btn-primary col-2"> Home Page</a>
    </form>

</div>
</body>
</html>